<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <form action="/madlib">
        <label for="place">place:</label>
        <input type="text" placeholder="" name="place">
        <br>
        <label for="noun">noun:</label>
        <input type="text" placeholder="" name="noun">
        <br>
        <label for="verb">verb:</label>
        <input type="text" placeholder="" name="verb">
        <br>
        <label for="adjective">adjective:</label>
        <input type="text" placeholder="" name="adjective">
        <br>
        <label for="name">name:</label>
        <input type="text" placeholder="" name="name">
        <br>
        <button>Submit</button>
    </form>
    
</body>
</html>