<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/stories.py">
    <link href="/app.py">
    <title>madlibs</title>
</head>
<body>
    <h1>HERE'S YOUR MADLIB</h1>
    {% set new_story = create_new_story(place,noun,verb,adjective, name)%}

    {% set ans = get_ans(new_story)%}

    <p>{{new_story.generate(ans)}}</p>

</body>
</html>